<div class="course-card" *ngIf="course">
  <!--  <div class="course-title">-->
  <!--  Elvis Operator: ? -->
  <!--    {{ cardIndex + ' ' + course?.description }}-->
  <!--  </div>-->
  <div class="course-title">
    {{ cardIndex + ' ' + course.description }}
  </div>
  <!--  <img width="300" alt="Angular Logo" *ngIf="true"-->
  <!--  <img width="300" alt="Angular Logo" *ngIf="false-->
  <!--  <img width="300" alt="Angular Logo" *ngIf="course.iconUrl"-->
  <img width="300" alt="Angular Logo"
       *ngIf="isImageVisible(); else noImage"
       [src]="course.iconUrl">

  <ng-template #noImage>
    <p>No image is available.</p>
  </ng-template>

  <!--  <div class="course-description">-->
  <!--  Elvis Operator: ? -->
  <!--    {{ course?.longDescription }}-->
  <!--  </div>-->
  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="onCourseViewed()">View Course</button>
</div>
